<a {{action "read" target="view"}}>Post</a> Index, {{name}} : {{mother.name}}"

<br />
<br />
<a href="{{genURL "post.edit" id="1"}}">Go to edit</a>
<br />
===== list === <br />
<ul>
	{{#each item in items}}
		<li>{{item.name}}</li>
	{{/each}}
</ul>
====== end list ===